<footer>
  {{ partial "foot_custom.html" . }}
  {{ with .Site.Params.footer }}
  <hr/>
  {{ . | markdownify }}
  {{ end }}

  <a href="mailto:lausanne@rladies.org"><i class="fa fa-envelope"></i></a>
 <a href="https://www.meetup.com/rladies-lausanne/"><i class="fab fa-meetup"></i></a>
  <a href="https://github.com/rladies/meetup-presentations_lausanne"> <i class="fab fa-github-square"></i></a>
 <a href="https://twitter.com/rladieslausanne"> <i class="fab fa-twitter"></i></a>
 <a href="https://www.facebook.com/RLadiesLausanne/"> <i class="fab fa-facebook-square"></i></a>
  </footer>
  </body>
</html>
